.idea/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/
ENV/

.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log
*.sqlite3
.cache/
*.bak

instance/

*.test.csv
*.tmp

.env
.env.*

*.pid
*.db
*.pid.lock
docker-compose.override.yml

*.pkl
*.h5
*.model

*.csv

